<% layout("/layouts/boilerplate") %>

  <body>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
  </div>
    <div class="card col-6 offset-2 listing-card" >
      <img src="<%= listing.image %>"style="height: 20rem;" class="card-img-top" alt="listing-image">
      <div class="card-body">
       <b> <h6 class="card-text">created by:<%= listing.owner.username %></h6></b><br>

       
        <p class="card-text"><%= listing.description %></p>
         <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
         <p class="card-text"> <%= listing.location %></p>
         <p class="card-text"><%= listing.country %></p>
          
        
        
       
      </div>
    </div>
    
  
    
   <div class="btns">
    <a href="/listings/<%= listing._id %>/edit"> <button class="btn btn-dark add-btn">Edit</button></a>
 
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark add-btn">Delete </button>
    </form>
   </div>

   <hr>

   <!-- FeedBack Form -->
   <div class="col-8 offset-2">
<form action="/listings/<%= listing.id %>/reviews" method="POST" class="needs-validation" novalidate>

   <!-- Rating Field -->
   <div class="form-group mb-3 mt-3">
    <label for="rating">Rating: </label><br>
    <input type="range" class="custom-range"  name="review[rating]" min="1" max="5" value="3">
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="comment">Your Review</label>
    <textarea class="form-control" name="review[comment]" rows="4" placeholder="Write your review here..." required></textarea>
    <div class="invalid-feedback">please add some comments before submit</div>
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-outline-dark mb-3 mt-3">Submit Review</button> 

</form>
<hr>
<p>All Reviews</p>
<div class="row">
  <% for(review of listing.reviews) { %>
    <div class="card col-5 mb-3 ms-3">
      <div class="card-body">
        <h5 class="card-title">Jone Doe</h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"> Rating: <%= review.rating %> stars</p>

        <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-dark m-1">Delete</button>
        </form>

      </div>
    </div>
  <% } %>
</div>
   </div>
  </div>
  </body>
